<!DOCTYPE html>
<html lang="en">
    <head>
        {% seo %}
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/png" href="/assets/images/Gent-systems_icon_black.png">

        <meta charset="utf-8">
        <meta name="description" content="Knowledge">
        <meta name="keywords" content="code, engineering, design, docs">
        <meta name="robots" content="index,follow">
        <meta name="author" content="John Gentile">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="0FT1voMEMVvT0cVF9-DjTO5JQGvxymNpCYCT21fP22w" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/github-markdown.css">
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="/assets/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-99256429-1', 'auto');
          ga('send', 'pageview');
        </script>

        <style>
            body {
                position: relative;
            }

            .back-to-top {
                cursor: pointer;
                position: fixed;
                bottom: 20px;
                right: 20px;
                display: none;
                background-color: #dd9933;
            }

            .back-to-top:hover {
                background-color: #333;
            }

            div.col-sm-9 div {
                height: 250px;
                font-size: 28px;
            }

            #toc.affix {
                top: 20px;
            }
            /* sidebar */

            .bs-docs-sidebar {
                padding-left: 0px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            /* all links */

            .bs-docs-sidebar .nav>li>a {
                color: #999;
                border-left: 2px solid transparent;
                padding: 4px 10px;
                font-size: 13px;
                font-weight: 400;
            }
            /* nested links */

            .bs-docs-sidebar .nav .nav>li>a {
                padding-top: 1px;
                padding-bottom: 1px;
                padding-left: 20px;
                font-size: 12px;
            }
            /* active & hover links */

            .bs-docs-sidebar .nav>.active>a,
            .bs-docs-sidebar .nav>li>a:hover,
            .bs-docs-sidebar .nav>li>a:focus {
                color: #000;
                text-decoration: none;
                background-color: transparent;
                border-left-color: #dd9933;
            }
            /* all active links */

            .bs-docs-sidebar .nav>.active>a,
            .bs-docs-sidebar .nav>.active:hover>a,
            .bs-docs-sidebar .nav>.active:focus>a {
                font-weight: 700;
            }
            /* nested active links */

            .bs-docs-sidebar .nav .nav>.active>a,
            .bs-docs-sidebar .nav .nav>.active:hover>a,
            .bs-docs-sidebar .nav .nav>.active:focus>a {
                font-weight: 500;
            }
            /* hide inactive nested list */

            .bs-docs-sidebar .nav ul.nav {
                display: none;
            }
            /* show active nested list */

            .bs-docs-sidebar .nav>.active>ul.nav {
                display: block;
            }
            
            .navbar-brand:hover {
                color: #dd9933 !important;
            }
            
            .navbar-nav li a {
                border-bottom: 2px solid transparent;
            }

            .navbar-nav li a:hover,
            .navbar-nav li.active a {
                color: #dd9933 !important;
                border-bottom-color: #dd9933;
            }

            .dropdown-submenu {
                position: relative;
            }

            .dropdown-submenu>.dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            .dropdown-submenu:hover>.dropdown-menu {
                display: block;
            }

            .dropdown-submenu>a:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: #ccc;
                margin-top: 5px;
                margin-right: -10px;
            }

            .dropdown-submenu:hover>a:after {
                border-left-color: #fff;
            }

            .dropdown-submenu.pull-left {
                float: none;
            }

            .dropdown-submenu.pull-left>.dropdown-menu {
                left: -100%;
                margin-left: 10px;
                -webkit-border-radius: 6px 0 6px 6px;
                -moz-border-radius: 6px 0 6px 6px;
                border-radius: 6px 0 6px 6px;
            }

            .markdown-body {
                margin-left: 300px;
                max-width: 980px;
                padding: 45px;
            }
            /* hide sidebar for non-large screens */

            @media screen and (max-width: 1280px) {
                .bs-docs-sidebar {
                    display: none;
                }
                .markdown-body {
                    box-sizing: border-box;
                    min-width: 200px;
                    max-width: 980px;
                    margin: 0 auto;
                    padding: 45px;
                }
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-inverse container-fluid" role="navigation">
            <a class="navbar-brand" href="http://gent-systems.com/">
                <span><img src="/assets/images/Gent-systems_icon_white_512.png" alt="Gent-Systems" style="width:30px;height:30px;"></span> 
            </a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav" container-fluid>
                    <li>
                        <a href="http://gent-systems.com/about-us.html">About Us</a>
                    </li>
                    <li>
                        <a href="http://gent-systems.com/projects.html">Projects</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Knowledge Base <span class="caret"></span></a>
                        <ul class="dropdown-menu multi-level">
                            {% assign mypages = site.pages | sort: 'top-category' | group_by: 'top-category' %}
                            {% for cat in mypages %}
                            {% if forloop.first != true %}
                            <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ cat.name }}</a>
                                <ul class="dropdown-menu">
                                    {% assign items = cat.items %}
                                    {% for item in items %}
                                    {% if item.kb == true %}
                                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form pull-right" method="get" action="http://gent-systems.com/search-results.html">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit" onclick="sendToSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
        <br>

        <!-- col-xs-3 -->
        <div class="container-fluid">
            <div class="row">
        <div class="col-xs-2">
            <nav class="bs-docs-sidebar">
            <ul id="toc"></ul>
            </nav>
        </div>

        <div class="col-xl-10 markdown-body">
 <h1 id="vim-commands--usage-notes">Vim Commands &amp; Usage Notes</h1>

<p>A good way to learn Vim is by using <code class="highlighter-rouge">vimtutor</code> in your shell. Some commands, like working with multiple files/windows in Vim, are not listed as our workflow mainly uses tiling windows managers in a Linux environment.</p>

<table>
  <thead>
    <tr>
      <th>Mode</th>
      <th>Key(s)</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Normal</td>
      <td><kbd>Esc</kbd></td>
      <td>Normal mode</td>
    </tr>
    <tr>
      <td>Insert</td>
      <td><kbd>i</kbd></td>
      <td><strong>–INSERT–</strong> Insert/edit text in traditional text editor sense</td>
    </tr>
    <tr>
      <td>Command</td>
      <td><kbd>:</kbd></td>
      <td>Enter commands to execute</td>
    </tr>
    <tr>
      <td>Visual</td>
      <td><kbd>v</kbd></td>
      <td>Enter visual mode</td>
    </tr>
  </tbody>
</table>

<p><em>Note: You must be in Normal mode before going into other modes</em></p>

<h2 id="normal-mode">Normal Mode</h2>

<p>Typing a number before a motion repeats the motion that many times (i.e typing <kbd>3</kbd><kbd>w</kbd> moves the cursor 3 words forward and <kbd>d</kbd><kbd>2</kbd><kbd>w</kbd> deletes next 2 words).</p>

<h3 id="navigation">Navigation</h3>

<table>
  <thead>
    <tr>
      <th>Operation</th>
      <th>Key(s)</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Left/Down/Up/Right</td>
      <td><kbd>h</kbd>/<kbd>j</kbd>/<kbd>k</kbd>/<kbd>l</kbd></td>
      <td>Move cursor left, down, up or right respectively</td>
    </tr>
    <tr>
      <td>Scroll Half-Screen Up/Down</td>
      <td><kbd>Ctrl</kbd>+<kbd>u</kbd>/<kbd>Ctrl</kbd>+<kbd>d</kbd></td>
      <td>Scroll Half-Screen Up/Down</td>
    </tr>
    <tr>
      <td>Next Word Beginning/End</td>
      <td><kbd>w</kbd>/<kbd>e</kbd></td>
      <td>Move cursor to beginning/end of next word</td>
    </tr>
    <tr>
      <td>Back a Word</td>
      <td><kbd>b</kbd></td>
      <td>Moves cursor back to start of last word</td>
    </tr>
    <tr>
      <td>Move to Start of Line</td>
      <td><kbd>0</kbd> or <kbd>Home</kbd></td>
      <td>Move to Start of Line</td>
    </tr>
    <tr>
      <td>Move to 1st Non-Blank Character in Line</td>
      <td><kbd>^</kbd></td>
      <td>Move to 1st Non-Blank Character in Line</td>
    </tr>
    <tr>
      <td>Move to End of Line</td>
      <td><kbd>$</kbd> or <kbd>End</kbd></td>
      <td>Move to End of Line</td>
    </tr>
    <tr>
      <td>Append After Cursor</td>
      <td><kbd>a</kbd></td>
      <td>Moves into Insert mode <em>after</em> the cursor (whereas <kbd>i</kbd> inputs text before the cursor)</td>
    </tr>
    <tr>
      <td>Append End of Line</td>
      <td><kbd>Shift</kbd>+<kbd>a</kbd></td>
      <td>Moves cursor to end of line and puts Vim in Insert mode</td>
    </tr>
    <tr>
      <td>Insert New Line Above/Below</td>
      <td><kbd>Shift</kbd>+<kbd>o</kbd>/<kbd>o</kbd></td>
      <td>Inserts a new line above/below the cursor and puts Vim in Insert mode</td>
    </tr>
    <tr>
      <td>Display location in File and Status</td>
      <td><kbd>Ctrl</kbd>+<kbd>g</kbd></td>
      <td>Display location in file</td>
    </tr>
    <tr>
      <td>Move to bottom of file</td>
      <td><kbd>Shift</kbd>+<kbd>g</kbd></td>
      <td> </td>
    </tr>
    <tr>
      <td>Move to start of file</td>
      <td><kbd>g</kbd>,<kbd>g</kbd></td>
      <td> </td>
    </tr>
    <tr>
      <td>Move to line number</td>
      <td><code class="highlighter-rouge">line_number</code>,<kbd>Shift</kbd>+<kbd>g</kbd></td>
      <td>Move to line number <code class="highlighter-rouge">line_number</code></td>
    </tr>
    <tr>
      <td>Exit &amp; Write</td>
      <td><kbd>Shift</kbd>+<kbd>z</kbd>,<kbd>Shift</kbd>+<kbd>z</kbd></td>
      <td>Write file, if modified, and quit Vim</td>
    </tr>
  </tbody>
</table>

<h3 id="copypaste-search-find--replace">Copy/Paste, Search, Find &amp; Replace</h3>

<table>
  <thead>
    <tr>
      <th>Operation</th>
      <th>Key(s)</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Copy (yank) Text</td>
      <td><kbd>y</kbd></td>
      <td>Use <kbd>y</kbd>,<kbd>w</kbd> to yank a word or use Visual Mode to select desired text before hitting <kbd>y</kbd>. After which, text can be pasted using the put (<kbd>p</kbd>) command</td>
    </tr>
    <tr>
      <td>Copy (yank) Current Line</td>
      <td><kbd>y</kbd>,<kbd>y</kbd></td>
      <td>Copies current line</td>
    </tr>
    <tr>
      <td>Find Character</td>
      <td><kbd>f</kbd>,<kbd>character</kbd></td>
      <td>Finds and positions cursor at <em>character</em></td>
    </tr>
    <tr>
      <td>Search in File</td>
      <td><kbd>/</kbd> or <kbd>?</kbd> to search backwards</td>
      <td>This opens a command line at the bottom of Vim where you can enter text, or regular expressions, to search for. Hit <kbd>n</kbd> to go to next find and <kbd>Shift</kbd>+<kbd>n</kbd> to search in the opposite direction. <kbd>Ctrl</kbd>+<kbd>o</kbd> goes back to original cursor position and <kbd>Ctrl</kbd>+<kbd>i</kbd> goes forward</td>
    </tr>
    <tr>
      <td>See Search History</td>
      <td><kbd>q</kbd>,<kbd>/</kbd></td>
      <td>Shows past searches that you can select through and search again</td>
    </tr>
    <tr>
      <td><em>Search Commands</em></td>
      <td><code class="highlighter-rouge">:set ic hls is</code></td>
      <td>These commands allow for search to ignore exact case matching, to highlight matching values and to increment search respectively. Use <code class="highlighter-rouge">:set noic nohlsearch</code> to disable ignoring case and highlighting of matches respectively</td>
    </tr>
    <tr>
      <td>Find Matching Bracket</td>
      <td><kbd>%</kbd></td>
      <td>Place cursor at any bracket and hit key to find matching bracket for types (), [], or {}</td>
    </tr>
    <tr>
      <td>Replace Mode</td>
      <td><kbd>Shift</kbd>+<kbd>r</kbd></td>
      <td>Acts like Insert mode in other text editors in that every typed character is inserted and delets an existing character</td>
    </tr>
  </tbody>
</table>

<p><em>For find &amp; replace, see <strong>Substitution</strong> under the Command section</em></p>

<h3 id="deletion">Deletion</h3>

<table>
  <thead>
    <tr>
      <th>Operation</th>
      <th>Key(s)</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Delete Character</td>
      <td><kbd>x</kbd></td>
      <td>Deletes character under cursor</td>
    </tr>
    <tr>
      <td>Delete until Found Character</td>
      <td><kbd>d</kbd>,<kbd>f</kbd>,<kbd>character</kbd></td>
      <td>Deletes text until <em>character</em> is found</td>
    </tr>
    <tr>
      <td>Delete Word</td>
      <td><kbd>d</kbd>,<kbd>w</kbd></td>
      <td>Deletes until start of the next word (excluding first character) after cursor</td>
    </tr>
    <tr>
      <td>Delete Word</td>
      <td><kbd>d</kbd>,<kbd>e</kbd></td>
      <td>Deletes until end of current word (including last character) after cursor</td>
    </tr>
    <tr>
      <td>Delete Line</td>
      <td><kbd>d</kbd>,<kbd>d</kbd></td>
      <td>Delete entire line at cursor</td>
    </tr>
    <tr>
      <td>Delete to End of Line</td>
      <td><kbd>d</kbd>,<kbd>$</kbd></td>
      <td>Delete to end of line after cursor</td>
    </tr>
  </tbody>
</table>

<h3 id="put-changes-and-reversals">Put, Changes and Reversals</h3>

<table>
  <thead>
    <tr>
      <th>Operation</th>
      <th>Key(s)</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Undo Last Edit</td>
      <td><kbd>u</kbd></td>
      <td>Undoes last operation (like <kbd>Ctrl</kbd>+<kbd>z</kbd> in other text editors)</td>
    </tr>
    <tr>
      <td>Undo Edits on Line</td>
      <td><kbd>Shift</kbd>+<kbd>u</kbd></td>
      <td>Undoes all changes made on the last line that was edited</td>
    </tr>
    <tr>
      <td>Reverse Preceding Command</td>
      <td><kbd>Ctrl</kbd>+<kbd>r</kbd></td>
      <td>Reverses actions taken until reaching most recent edit</td>
    </tr>
    <tr>
      <td>Repeat Last Change</td>
      <td><kbd>.</kbd></td>
      <td>Repeat last command that made a change to the text</td>
    </tr>
    <tr>
      <td>Put/Paste Text from Register</td>
      <td><kbd>p</kbd></td>
      <td>Put text in Vim’s register (such as previously deleted or yanked text) after the cursor</td>
    </tr>
    <tr>
      <td>Replace Character</td>
      <td><kbd>r</kbd>,<kbd>character</kbd></td>
      <td>Replace character after cursor with <code class="highlighter-rouge">character</code></td>
    </tr>
    <tr>
      <td>Change Word</td>
      <td><kbd>c</kbd>,<kbd>e</kbd></td>
      <td>Delete rest of word after cursor and place in Insert mode</td>
    </tr>
    <tr>
      <td>Change Case</td>
      <td><kbd>~</kbd></td>
      <td>If in normal mode, changes the case of character at cursor but in visual mode with multiple selections changes the case of selected characters</td>
    </tr>
    <tr>
      <td>Record Commands to Register</td>
      <td><kbd>q</kbd>,<kbd>character</kbd></td>
      <td>Records a set of commands to register <code class="highlighter-rouge">character</code> and stops recording after hitting <kbd>q</kbd> again</td>
    </tr>
    <tr>
      <td>Play command held in register</td>
      <td><kbd>@</kbd>,<kbd>character</kbd></td>
      <td>Repeats recorded command(s) held in that registers <code class="highlighter-rouge">character</code></td>
    </tr>
    <tr>
      <td>Pipe Command to Shell and Pipe Output into Current File</td>
      <td><kbd>!</kbd>,<kbd>!</kbd></td>
      <td>i.e. <code class="highlighter-rouge">!!ls</code> pipes the listing of files in your current directory into your current file</td>
    </tr>
  </tbody>
</table>

<h2 id="command-mode">Command Mode</h2>

<p>All commands are assumed to start with <kbd>:</kbd> while in Normal mode</p>

<table>
  <thead>
    <tr>
      <th>Operation</th>
      <th>Command</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Save Changes</td>
      <td><code class="highlighter-rouge">w</code> <em>(filename)</em></td>
      <td>Write any modifications to existing file or if given a <em>filename</em> write to that file</td>
    </tr>
    <tr>
      <td>Quit</td>
      <td><code class="highlighter-rouge">q</code></td>
      <td>Quit if no modifications since last write</td>
    </tr>
    <tr>
      <td>Quit &amp; Save Changes</td>
      <td><code class="highlighter-rouge">wq</code></td>
      <td>Write changes to file and quit Vim</td>
    </tr>
    <tr>
      <td>Quit &amp; Discard Changes</td>
      <td><code class="highlighter-rouge">q!</code></td>
      <td>Override warnings and quit without writing to file</td>
    </tr>
    <tr>
      <td><strong>Substitution</strong></td>
      <td><code class="highlighter-rouge">s/old/new</code></td>
      <td>Replace first occurence of old with new</td>
    </tr>
    <tr>
      <td> </td>
      <td><code class="highlighter-rouge">s/old/new/g</code></td>
      <td>Replace all occurences of old with new in the current line</td>
    </tr>
    <tr>
      <td> </td>
      <td><code class="highlighter-rouge">#1,#2s/old/new/g</code></td>
      <td>Same as above but change occurences in range between line numbers #1 &amp; #2</td>
    </tr>
    <tr>
      <td> </td>
      <td><code class="highlighter-rouge">%s/old/new/g</code> or <code class="highlighter-rouge">%s/old/new/gc</code></td>
      <td>Change every occurence of old with new in entire file. Add <code class="highlighter-rouge">c</code> to end to prompt to replace at each occurence</td>
    </tr>
    <tr>
      <td>Execute External Command</td>
      <td><code class="highlighter-rouge">!</code><em>command</em></td>
      <td>Type <code class="highlighter-rouge">!</code> at the command line to execute any operation that can be run in your shell</td>
    </tr>
    <tr>
      <td>Pipe/Retrieve Input to Vim</td>
      <td><code class="highlighter-rouge">r</code></td>
      <td>This allows for operations such as piping <code class="highlighter-rouge">|</code> in Unix so that an operation such as <code class="highlighter-rouge">r FILE</code> places the contents of FILE after the cursor and <code class="highlighter-rouge">r !ls</code> reads ouput of the <code class="highlighter-rouge">ls</code> shell command and puts it below the cursor; similar to <code class="highlighter-rouge">!!</code> command in Normal mode</td>
    </tr>
    <tr>
      <td>Edit another File</td>
      <td><code class="highlighter-rouge">e FILE</code></td>
      <td>Close current file and opens <code class="highlighter-rouge">FILE</code> for edit</td>
    </tr>
    <tr>
      <td>Open Help</td>
      <td><code class="highlighter-rouge">help</code></td>
      <td>Opens help menu in Vim</td>
    </tr>
  </tbody>
</table>

<h2 id="visual-mode">Visual Mode</h2>

<p>Once in visual mode, navigation causes text to be highlighted.</p>

<table>
  <thead>
    <tr>
      <th>Operation</th>
      <th>Command</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Select Text and Do Stuff</td>
      <td><kbd>:</kbd></td>
      <td>After selecting/highlighting some text, this will enter command mode so you can do things like write selection to another file</td>
    </tr>
    <tr>
      <td>Delete Selection</td>
      <td><kbd>x</kbd> or <kbd>d</kbd></td>
      <td>Deletes selection</td>
    </tr>
    <tr>
      <td>Join Text</td>
      <td><kbd>Shift</kbd>+<kbd>J</kbd></td>
      <td>If selecting text that spans multiple lines, join puts the lines into a single line seperated by spaces</td>
    </tr>
    <tr>
      <td>Enter Block Visual Mode</td>
      <td><kbd>Ctrl</kbd>+<kbd>v</kbd></td>
      <td>Select visual block; useful for tables or multiple line selection</td>
    </tr>
    <tr>
      <td>Insert text across a block</td>
      <td><kbd>Shift</kbd>+<kbd>i</kbd></td>
      <td>Useful when in Visual Block mode to do things like insert text across multiple lines</td>
    </tr>
    <tr>
      <td>Delete selected text and insert across a block</td>
      <td><kbd>c</kbd></td>
      <td>Deletes selected text and then goes into multiple insert mode, similar to above command</td>
    </tr>
    <tr>
      <td>Indent Selected Lines</td>
      <td><code class="highlighter-rouge">&gt;</code>/<code class="highlighter-rouge">&lt;</code></td>
      <td>Indents/De-indents selected lines by amount specified by <code class="highlighter-rouge">shiftwidth</code>. <code class="highlighter-rouge">=</code> indents the text by what Vim thinks is appropriate</td>
    </tr>
    <tr>
      <td>Jump to definition</td>
      <td><kbd>Ctrl</kbd>+<kbd>j</kbd></td>
      <td>Jump to definition of function highlighted</td>
    </tr>
  </tbody>
</table>

<h2 id="vim-config-file">Vim Config File</h2>

<p>The <em>.vimrc</em> file (usually found in the home folder, but can be placed in other directories for per project custom features) is useful for enabling extended features of Vim and for personalization/customization of Vim. To see an example <em>.vimrc</em> with comments on what-does-what, see <a href="https://github.com/JohnnyGOX17/configs/blob/master/configs/.vimrc">this GitHub link</a>.</p>

<p>Vim can also be further extended with plugins and plugin managers such as <a href="https://github.com/junegunn/vim-plug">vim-plug</a>.</p>

<h2 id="techniques-for-development">Techniques for Development</h2>

<p>Here are some useful tips when working with Vim for code development:</p>

<ul>
  <li><code class="highlighter-rouge">:set filetype=c</code> when you are working with a file with a non-standard file extension, you cna use this to set the syntax highlighting for the “C” filetype
    <ul>
      <li>Use <code class="highlighter-rouge">:set cindent</code> to enable C-style indentation automatically</li>
    </ul>
  </li>
  <li>Search for definitions:
    <ul>
      <li><kbd>[</kbd>,<kbd>Ctrl</kbd>+<kbd>i</kbd> to search for word under cursor, including files that are brought in by #include directives</li>
      <li>Use <kbd>g</kbd>,<kbd>d</kbd> to search for a local declaration of a variable under the cursor and <kbd>g</kbd>,<kbd>Shift</kbd>+<kbd>d</kbd> to search for the global definition</li>
      <li><kbd>[</kbd>,<kbd>Ctrl</kbd>+<kbd>d</kbd> to search for first definition of macro under cursor and <kbd>]</kbd>,<kbd>Ctrl</kbd>+<kbd>d</kbd> to search for next definition of macro under cursor
        <ul>
          <li>Use <kbd>[</kbd>/<kbd>]</kbd>,<kbd>d</kbd> to display the same thing</li>
          <li>Use <kbd>[</kbd>/<kbd>]</kbd>,<kbd>Shift</kbd>+<kbd>d</kbd> to display all definitions of macro</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>To use tags in Vim, you can generate tags for your source (i.e. <code class="highlighter-rouge">$ ctags *.c</code>) and then use either <code class="highlighter-rouge">:tag FUNCTION</code> or <kbd>Ctrl</kbd>+<kbd>j</kbd> (if the function you are looking for is under your cursor) to search across multiple files to find the function’s definition.
    <ul>
      <li>To go back one tag, use <kbd>Ctrl</kbd>+<kbd>t</kbd> or <code class="highlighter-rouge">:tp</code>
        <ul>
          <li><code class="highlighter-rouge">:tn</code> goes to next tag</li>
          <li><code class="highlighter-rouge">tr</code> goes to first tag</li>
          <li><code class="highlighter-rouge">tl</code> goes to last tag</li>
        </ul>
      </li>
      <li>You can similarly use <code class="highlighter-rouge">:stag FUNCTION</code> and <kbd>Ctrl</kbd>+<kbd>w</kbd>+<kbd>j</kbd> to split the current screen with your original screen and with where the tag function is defined</li>
      <li>Tags can also use regular expressions to search and find definitions; any tag command starting with a <code class="highlighter-rouge">/</code> is assumed to use regular expressions (i.e <code class="highlighter-rouge">:tag /regex_function</code>)</li>
      <li>When there is multiple matches to a tag/search, you can use <code class="highlighter-rouge">:ts function_name</code> to get a listing of found matches and select a tag, or use <code class="highlighter-rouge">:tj</code> to jump to a matched tag if only one match exists</li>
    </ul>
  </li>
  <li>For compiling and checking for errors right from Vim, you can call <code class="highlighter-rouge">:make [args]</code> to call the Make program with the local Makefile. This has benefits as any generated errors can be immediately stepped through and changed via:
    <ul>
      <li><code class="highlighter-rouge">:cnext</code>/<code class="highlighter-rouge">:cprevious</code> moves to the next/previous error (<code class="highlighter-rouge">:clast</code>/<code class="highlighter-rouge">:crewind</code> go to last/first errors)</li>
      <li><code class="highlighter-rouge">:cnfile</code> goes to the first error message in the next file</li>
      <li><code class="highlighter-rouge">:cc</code> shows current error and <code class="highlighter-rouge">:clist</code> gives a list of errors (<code class="highlighter-rouge">:clist!</code> shows all informational messages)</li>
    </ul>
  </li>
  <li>To search a regular expression across files, you can use vimgrep such as <code class="highlighter-rouge">:vi /hack/ /usr/src/linux**/*.c</code>; in this example, we search for the regex <em>hack</em> in all files that match the wildcard <code class="highlighter-rouge">*.c</code> in the directory <em>/usr/src/linux</em> and all directories below it
    <ul>
      <li>You can use the same navigational commands for tags to navigate search matches from vimgrep</li>
    </ul>
  </li>
  <li>Open file under cursor with <kbd>g</kbd><kbd>f</kbd>; this is very useful for opening referenced <code class="highlighter-rouge">#include</code> files in a C/C++ file
    <ul>
      <li><kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>o</kbd> to go back</li>
      <li><kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>f</kbd> to open file in new window</li>
    </ul>
  </li>
  <li>When working with source files edited/made in Windows/DOS, you’ll often come across the issue of line ending mismatches when developing in Unix based systems. Vim can simply change line endings with a command such as <code class="highlighter-rouge">:set ff=unix</code> (to convert a DOS file to Unix line endings) or <code class="highlighter-rouge">:set ff=dos</code> for the opposite</li>
  <li>Get creative with autocommands and abbreviations to insert commonly used sections of code/text automagically</li>
  <li>Use plugins to help aid in quicker, more effecient development (see .vimrc linked above for an example) but not those that add bloat and distraction to your development flow
    <ul>
      <li>For example, <a href="https://github.com/Valloric/YouCompleteMe">YouCompleteMe</a> is an intelligent code-completion engine for Vim that can accelerate development and makes Vim more IDE-like</li>
    </ul>
  </li>
  <li>You can easily remove trailing whitespace with <code class="highlighter-rouge">:%s/\s\+$//</code> (or macro to a keyboard shortcut for easier use)</li>
  <li><code class="highlighter-rouge">vim -d [file1] [file2]</code> is an easy way to diff two files</li>
</ul>

<h2 id="references">References</h2>

<ul>
  <li><a href="http://shop.oreilly.com/product/9780596529833.do">Learning the vi and Vim Editors, 7th Edition by Arnold Robbins, Elbert Hannah, Linda Lamb</a></li>
  <li><a href="http://www.oualline.com/vim-book.html">VIM Book by Steve Oualline</a></li>
</ul>

        </div>
        </div>
        </div>
        <br>
    </body>
    
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return to the top" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

    <footer style="color:#fff;text-align:center;clear:left">
        <div style="background-color: rgb(50, 50, 50);padding:1em;">
            <p><em>Page last updated {{ page.last_modified_at | date_to_string }}</em></p>
        </div>
        <div style="background-color: rgb(46, 46, 46);padding:2em;">
            <a href="http://gent-systems.com">
            <img src="/assets/images/Gent-systems_icon_white_512.png" alt="Gent-Systems" style="width:40px;height:40px;"></a>
            <br />
            <br />
            <p><strong>Maintained by Gent-Systems</strong></p>
        </div>
    </footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/dcea14ca87.js"></script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script src="/scripts/toc.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/scripts/ie10-viewport-bug-workaround.js"></script>
    <script>
        $('body').scrollspy({
            target: '.bs-docs-sidebar',
            offset: 40
        });
    </script>
    <script>
        $("#toc").affix({
            offset: {
                top: 60
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#toc').toc({
                classes: {
                    list: 'nav nav-stacked'
                }
            });
            $('body').each(function () {
                $(this).scrollspy('refresh');
            });
            $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    $('#back-to-top').fadeIn();
                } else {
                    $('#back-to-top').fadeOut();
                }
            });
            $('#back-to-top').click(function () {
                $('#back-to-top').tooltip('hide');
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });
            $('#back-to-top').tooltip('show');
        });
    </script>
</html>
