<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="Knowledge">
    <meta name="keywords" content="code, engineering, design, docs">
    <meta name="robots" content="index,follow">
    <meta name="author" content="John Gentile">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/github-markdown.css">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto'>
    <link rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<header style="font-family: 'Roboto'">
    <ul class="w3-navbar w3-dark-grey">
        <li><span class="w3-opennav w3-xxxlarge w3-padding" onclick="w3_open()" onmouseenter="w3_open()"><i class="material-icons" style="font-size: 34px">menu</i></span></li>
        <li><a id="home" href="https://gent-systems.github.io/" class="w3-padding-16" onmouseenter="btnHoverText('home', 'Home')" onmouseleave="btnHoverText('home', 'home')"><i class="material-icons">home</i></a></li>
        <li><a id="codeIcon" href="https://github.com/Gent-Systems" class="w3-padding-16" onmouseenter="btnHoverText('codeIcon', 'GitHub')" onmouseleave="btnHoverText('codeIcon', 'code')"><i class="material-icons">code</i></a></li>
        <li><a id="business" href="http://www.gent-systems.com" class="w3-padding-16" onmouseenter="btnHoverText('business', 'Gent-Systems.com')" onmouseleave="btnHoverText('business', 'business')"><i class="material-icons">business</i></a></li>
    </ul>
    
    <nav class="w3-sidenav w3-grey w3-animate-left" style="display:none; z-index:5; width:300px;" id="mySidenav" onmouseleave="w3_close()">
        <h3 class="w3-padding"><b>Navigate Knowledge Base</b> <i class="material-icons">folder_open</i></h3>
        <div class="w3-dropdown-hover">
            <a>Business-Management ></a>
            <div class="w3-dropdown-content">
                <a href="#">Leadership</a>
                <a href="#">Project Management</a>
                <a href="#">Finance</a>
            </div>
        </div>
        <div class="w3-dropdown-hover">
            <a>Analog Design & Electrical Theory ></a>
            <div class="w3-dropdown-content">
                <a href="#">Electrical Fundamentals</a>
                <a href="#">Board Design</a>
                <a href="#">RF & High-Speed</a>
                <a href="#">Equations</a>
            </div>
        </div>
        <div class="w3-dropdown-hover">
            <a>Digital Design ></a>
            <div class="w3-dropdown-content">
                <a href="#">VHDL</a>
                <a href="#">Digital System Design</a>
                <a href="#">Computer Architecture</a>
            </div>
        </div>
        <div class="w3-dropdown-hover">
            <a>Communications ></a>
            <div class="w3-dropdown-content w3-card-4">
               <div class="w3-container">
                <a href="#">Signals & Systems</a>
                <a href="#">Communication & Systems Networking</a>
                <h1>Header</h1>
               </div>
            </div>
        </div>
        <div class="w3-dropdown-hover">
            <a>Software Engineering ></a>
            <div class="w3-dropdown-content">
                <a href="#">Principles & Computer Science</a>
                <a href="#">Coding Language Best Practices</a>
                <div class="w3-dropdown-hover">
                    <a>Tools ></a>
                    <div class="w3-dropdown-content">
                        <a href="https://gent-systems.github.io/kb/programming/tools/VIM">VIM</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-closenav w3-large">Close &times;</a>
    </nav>

    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>    
    
</header>

<body>
    <div class="w3-container">
        <article class="markdown-body" style="box-sizing: border-box;
				min-width: 200px;
				max-width: 980px;
				margin: 0 auto;
				padding: 45px;">
           {{ content }}
        </article>

        <div class="w3-center" style="font-family: 'Roboto'">
            <ul class="w3-pagination">
                <li><a href="#"><i class="material-icons">first_page</i></a></li>
                <li><a href="#"><i class="material-icons">chevron_left</i></a></li>
                <li><a class="w3-dark-grey" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="material-icons">chevron_right</i></a></li>
                <li><a href="#"><i class="material-icons">last_page</i></a></li>
            </ul>
        </div>
    </div>

    <footer style="color:#fff;background-color:#3C3F41;padding:1em;text-align:center;clear:left;font-size:75%;font-family: 'Roboto'">
        Maintained by <em><a href="http://www.gent-systems.com">Gent-Systems</a></em> and John Gentile | 2017
    </footer>

    <script>
        function w3_open() {
            document.getElementById("mySidenav").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidenav").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
        
        function btnHoverText(btnId, txtStr) {
            if (txtStr == "home") {
                document.getElementById(btnId).innerHTML = "<i class='material-icons'>home</i>";
            } else if (txtStr == "code") {
                document.getElementById(btnId).innerHTML = "<i class='material-icons'>code</i>";
            } else if (txtStr == "business") {
                document.getElementById(btnId).innerHTML = "<i class='material-icons'>business</i>";
            } else {
                document.getElementById(btnId).innerHTML = txtStr;
            }
        }
        
    </script>
</body>

</html>